# Dependencies
/node_modules
/.pnp
.pnp.js

# Production build outputs
/dist
/dist-ssr
*.tsbuildinfo

# Environment & Local settings
.env
.env.local
.env.*.local
.env.*
!.env.example
!.env.*.example
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing & Coverage
/coverage
/playwright-report
/test-results

# Editor & OS files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
